{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "env": {
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "globals": {
    "process": true
  },
  "overrides": [
    {
      "files": ["*Test.js"],
      "env": {
        "jest": true
      }
    }
  ]
}
