@import '../variables/colors.scss';
@import '../variables/space.scss';
@import '../variables/fonts.scss';
@import '../variables/borders.scss';

@mixin button-color($bg-color, $fg-color) {
  background: $bg-color;
  box-sizing: border-box;
  color: $fg-color;

  .icon {
    fill: $fg-color;
  }

  &:hover,
  &:focus,
  &:active {
    background: darken($bg-color, 10%);
    outline: none;
    color: $fg-color;
  }
}

.button {
  @include button-color($color-fg, $color-fg-inverted);

  display: inline-flex;
  border-radius: $border-radius;
  padding: $space-xs $space-sm;
  border: 0;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.button--secondary {
  @include button-color($color-fg-subtle, $color-fg);

  color: $color-fg;
}

.button--operator {
  @include button-color($color-operator, $color-fg-inverted);
}

.button--success {
  @include button-color($color-success, $color-fg-inverted);
}

.button--danger {
  @include button-color($color-danger, $color-fg-inverted);
}
