@import '../variables/colors.scss';
@import '../variables/space.scss';
@import '../variables/fonts.scss';
@import '../variables/borders.scss';

@mixin button-color($color) {
  background: $color;
  box-sizing: border-box;

  &:hover,
  &:focus,
  &:active {
    background: darken($color, 10%);
    outline: none;
  }
}

.button {
  @include button-color($color-ships-officer);

  display: inline-block;
  border-radius: $border-radius;
  padding: $space-xs $space-sm;
  border: 0;
  color: $color-white;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
}

.button--secondary {
  @include button-color($color-falling-star);

  color: $color-ships-officer;
}

.button--operator {
  @include button-color($color-orchid-range);
}

.button--action {
  @include button-color($color-keppel);
}

.button--action-danger {
  @include button-color($color-georgia-peach);
}
