@import '../variables/colors.scss';
@import '../variables/space.scss';
@import '../variables/fonts.scss';
@import '../variables/borders.scss';

@mixin button-color($color) {
  background: $color;
  box-sizing: border-box;

  &:hover,
  &:focus,
  &:active {
    background: darken($color, 10%);
    outline: none;
  }
}

.button {
  @include button-color($color-fg);

  display: inline-block;
  border-radius: $border-radius;
  padding: $space-xs $space-sm;
  border: 0;
  color: $color-white;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
}

.button--secondary {
  @include button-color($color-fg-subtle);

  color: $color-fg;
}

.button--operator {
  @include button-color($color-operator);
}

.button--success {
  @include button-color($color-success);
}

.button--danger {
  @include button-color($color-danger);
}
