@import '../mixins/theme.scss';
@import '../variables/themes.scss';
@import '../variables/fonts.scss';
@import '../variables/borders.scss';
@import '../variables/space.scss';

@mixin scroll-horizontal() {
  white-space: nowrap;
  overflow-x: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin field-container($background-color) {
  background-color: $background-color;
  position: relative;

  &::after,
  &::before {
    content: '';
    position: absolute;
    width: $space-sm;
    top: 0;
    bottom: 0;
  }

  &::after {
    right: 0;
    background: linear-gradient(
      to right,
      transparentize($background-color, 1),
      $background-color 75%
    );
    border-radius: 0 $border-radius $border-radius 0;
  }

  &::before {
    left: 0;
    background: linear-gradient(
      to left,
      transparentize($background-color, 1),
      $background-color 75%
    );
    border-radius: $border-radius 0 0 $border-radius;
  }
}

@include themify-keyframes($themes, 'cursor-blink') {
  from,
  to {
    background-color: themed('color-fg');
    color: themed('color-bg');
  }

  50% {
    background-color: transparent;
    color: themed('color-fg');
  }
}

@include themify-keyframes($themes, 'cursor-blink-error') {
  from,
  to {
    background-color: themed('color-danger');
    color: themed('color-bg');
  }

  50% {
    background-color: transparent;
    color: themed('color-danger');
  }
}

.calculator {
  overflow: hidden;
}

.calculator__output-container {
  @include themify($themes) {
    @include field-container(darken(themed('color-bg'), 10%));
  }

  border-radius: $border-radius $border-radius 0 0;
}

.calculator__output {
  @include scroll-horizontal();

  font-weight: bold;
  font-size: 2.6rem;
  padding: $space-sm;
}

.calculator__input-container {
  @include themify($themes) {
    @include field-container(darken(themed('color-bg'), 5%));
  }

  border-radius: 0 0 $border-radius $border-radius;
}

.calculator__input {
  @include scroll-horizontal();

  color: inherit;
  font-size: 1.8rem;
  padding: $space-sm;
  font-family: $font-code;
}

.calculator__output--error,
.calculator__input--error {
  @include themify($themes) {
    color: themed('color-danger');
  }
}

.calculator__char {
  display: inline-block;
  text-align: center;
  padding: 1px;
}

.calculator__char--active {
  @include themify($themes) {
    color: themed('color-bg');
    background-color: themed('color-fg');
    animation: 1s themed-keyframes('cursor-blink') step-end infinite;
  }

  .calculator__input--error & {
    @include themify($themes) {
      animation: 1s themed-keyframes('cursor-blink-error') step-end infinite;
      background-color: themed('color-danger');
    }
  }
}

.calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: $space-xs;
  margin-top: $space-xs;
}

.calculator__button--col-span-2 {
  grid-column: span 2;
}
