@import '../mixins/responsive.scss';
@import '../variables/breakpoint.scss';
@import '../variables/colors.scss';
@import '../variables/space.scss';

.container__column {
  padding: $space-sm $space-xs;
}

.container__column--calculator {
  min-height: 100%;
}

.container__column--log {
  background-color: $color-white;
  color: $color-text;
}

.container__column:not(:first-child) {
  margin-top: $space-sm;
}

@include respond-from($breakpoint-tablet) {
  .container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: 42rem auto;
  }

  .container__column {
    padding: $space-lg;
    overflow-y: auto;
  }

  .container__column:not(:first-child) {
    margin-top: 0;
  }
}

@include respond-from($breakpoint-desktop) {
  .container {
    grid-template-columns: 56rem auto;
  }
}
