@import '../variables/space.scss';
@import '../variables/colors.scss';

.header__title {
  margin: 0 0 $space-xs;
  font-size: 2.4rem;
  font-weight: 900;
}

@include respond-from($breakpoint-tablet) {
  .header__title {
    font-size: 3.6rem;
    margin-bottom: $space-lg;
  }
}
