@import '../mixins/theme.scss';
@import '../variables/themes.scss';
@import '../variables/fonts.scss';
@import '../variables/space.scss';

.history__item {
  margin-bottom: $space-md;
  cursor: pointer;
}

.history__result {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0;
  margin: 0 0 $space-xs;
}

.history__code {
  font-weight: bold;
  font-family: $font-code;
  display: block;

  @include themify($themes) {
    color: themed('color-fg-subtle');
  }
}

.history__actions {
  display: none;
  margin-top: $space-xs;
}

.history__actions--active {
  display: block;
}
