@import '../variables/colors.scss';
@import '../variables/fonts.scss';
@import '../variables/space.scss';

.history {
  background-color: $color-bg-dark;
  color: $color-fg-inverted;
}

.history__item {
  margin-bottom: $space-md;
  cursor: pointer;
}

.history__result {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0;
  margin: 0 0 $space-xs;
}

.history__code {
  font-weight: bold;
  color: $color-fg-subtle;
  font-family: $font-code;
  display: block;
}

.history__actions {
  display: none;
  margin-top: $space-xs;
}

.history__actions--active {
  display: block;
}
