@import "../mixins/theme.scss";
@import "../variables/themes.scss";
@import "../variables/space.scss";

.option {
  display: flex;
  widows: 100%;
  padding: $space-xs 0;
  cursor: pointer;
  align-items: center;
  margin-bottom: $space-xs;

  &:hover {
    .option__radio {
      @include themify($themes) {
        background-color: transparentize(themed("color-fg-inverted"), 0.8);
      }
    }
  }
}

.option__radio {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: $space-xs;
  border-radius: 0.5em;

  @include themify($themes) {
    border: 1px solid themed("color-fg-inverted");
  }
}

.option__input:checked + .option__radio {
  @include themify($themes) {
    background-color: themed("color-action");
    border: 1px solid themed("color-action");
  }
}

.option__input:checked + .option__radio + .option__label {
  font-weight: bold;
}

.option__input {
  display: none;
}
