@import '../mixins/responsive.scss';
@import '../mixins/theme.scss';
@import '../variables/themes.scss';
@import '../variables/breakpoint.scss';
@import '../variables/space.scss';
@import '../variables/z-index.scss';
@import '../variables/borders.scss';
@import '../variables/fonts.scss';

$panel-shadow-size: 10px;

.panel {
  position: fixed;
  height: 100%;
  width: 80%;
  right: 0;
  top: 0;

  transform: translate(100%, 0);
  transition: transform 0.2s ease-out;

  overflow: visible;

  z-index: $z-index-panel + 1;
}

.panel--active {
  transform: translate(0);
  box-shadow: 0 0 $panel-shadow-size transparentize(black, 0.5);
}

.panel__label {
  position: fixed;
  left: 0;
  top: $space-lg;
  transform: translate(-90%, 0);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 0 $panel-shadow-size transparentize(black, 0.7);

  &::before {
    content: '';
    position: absolute;
    width: calc(#{$panel-shadow-size} + 5px);
    height: calc(100% + #{$panel-shadow-size * 2});
    right: calc(-10% - 4px);
    top: -$panel-shadow-size;
  }

  @include themify($themes) {
    &::before {
      background-color: themed('color-bg-dark');
    }
  }
}

@include respond-from($breakpoint-tablet) {
  .panel {
    position: static;
    transform: none;
    transition: none;
    z-index: inherit;
    width: auto;
  }

  .panel__label {
    display: none;
  }

  .panel--active {
    box-shadow: none;
  }
}
