@import '../mixins/responsive.scss';
@import '../variables/breakpoint.scss';
@import '../variables/space.scss';
@import '../variables/z-index.scss';
@import '../variables/borders.scss';
@import '../variables/fonts.scss';

.panel {
  position: fixed;
  height: 100%;
  width: 80%;
  right: 0;
  top: 0;

  transform: translate(100%, 0);
  transition: transform 0.2s ease-out;

  overflow: visible;

  z-index: $z-index-panel + 1;
}

.panel--active {
  transform: translate(0);
  box-shadow: -5px 0 10px transparentize(black, 0.5);
}

.panel__label {
  position: fixed;
  display: flex;
  left: 0;
  top: $space-lg;
  border-radius: $border-radius 0 0 $border-radius;
  padding: $space-sm 0;
  align-items: center;
  justify-content: center;
  width: 4.2rem;
  transform: translate(-4rem, 0);

  font-family: $font-code;
  font-weight: bold;
  background-color: $color-bg-dark;
  color: $color-fg-inverted;

  .icon {
    fill: $color-fg-inverted;
  }

  .panel--active & {
    pointer-events: none;
  }
}

@include respond-from($breakpoint-tablet) {
  .panel {
    position: static;
    transform: none;
    transition: none;
    z-index: inherit;
    width: auto;

    &::before {
      display: none;
    }
  }

  .panel--active {
    box-shadow: none;
  }
}
