@import '../mixins/theme.scss';
@import '../variables/themes.scss';
@import '../variables/space.scss';

$tabs-border-width: 3px;

.tabs__triggers {
  display: flex;
  padding: 0;
  margin: 0 0 $space-md;

  @include themify($themes) {
    border-bottom: $tabs-border-width solid
      transparentize(themed('color-fg-inverted'), 0.6);
  }
}

.tabs__trigger {
  position: relative;
  list-style: none;
  padding: 0 $space-sm 0 0;
  margin: 0;
  bottom: -#{$tabs-border-width};
}

.tabs__link {
  display: inline-block;
  padding: $space-xs 0 $space-sm 0;

  @include themify($themes) {
    $tabs-inactive-color: transparentize(themed('color-fg-inverted'), 0.6);

    color: $tabs-inactive-color;
    text-decoration: none;

    .icon {
      fill: $tabs-inactive-color;
    }
  }

  &:hover,
  &:focus {
    .tabs__trigger:not(.tabs__trigger--active) & {
      @include themify($themes) {
        $tabs-hover-color: transparentize(themed('color-fg-inverted'), 0.3);

        color: $tabs-hover-color;
        border-bottom: $tabs-border-width solid $tabs-hover-color;

        .icon {
          fill: $tabs-hover-color;
        }
      }
    }
  }

  .tabs__trigger--active & {
    @include themify($themes) {
      $tabs-active-color: themed('color-fg-inverted');

      color: $tabs-active-color;
      border-bottom: $tabs-border-width solid $tabs-active-color;

      .icon {
        fill: $tabs-active-color;
      }
    }
  }
}

.tabs__tab {
  display: none;
}

.tabs__tab--active {
  display: block;
}
