@import '../mixins/theme.scss';
@import '../variables/themes.scss';
@import '../variables/space.scss';

$tabs-border-width: 3px;

.tabs__triggers {
  display: flex;
  padding: 0;
  margin: 0 0 $space-md;

  @include themify($themes) {
    border-bottom: $tabs-border-width solid
      transparentize(themed('color-fg-inverted'), 0.6);
  }
}

.tabs__trigger {
  position: relative;
  list-style: none;
  padding: 0 $space-sm 0 0;
  margin: 0;
  bottom: -#{$tabs-border-width};
}

.tabs__link {
  display: inline-block;
  padding: $space-xs 0 $space-sm 0;

  @include themify($themes) {
    color: transparentize(themed('color-fg-inverted'), 0.6);
    text-decoration: none;
  }

  .tabs__trigger--active & {
    @include themify($themes) {
      color: themed('color-fg-inverted');
      border-bottom: $tabs-border-width solid themed('color-fg-inverted');
    }
  }

  .icon {
    @include themify($themes) {
      fill: transparentize(themed('color-fg-inverted'), 0.6);
    }

    .tabs__trigger--active & {
      @include themify($themes) {
        fill: themed('color-fg-inverted');
      }
    }
  }
}

.tabs__tab {
  display: none;
}

.tabs__tab--active {
  display: block;
}
