@mixin themify($themes) {
  @each $theme, $map in $themes {
    &.theme-#{$theme},
    .theme-#{$theme} & {
      $theme-map: (
        theme-name: $theme,
      ) !global;
      $theme-map: map-merge($theme-map, $map) !global;

      @content;
      $theme-map: null !global;
    }
  }
}

@mixin themify-keyframes($themes, $prefix) {
  @each $theme, $map in $themes {
    @keyframes #{$prefix}-#{$theme} {
      $theme-map: () !global;

      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@function themed-keyframes($prefix) {
  @return #{$prefix}-#{map-get($theme-map, 'theme-name')};
}
