@import './mixins/theme.scss';
@import './variables/themes.scss';
@import './variables/fonts.scss';
@import './variables/space.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  font-family: $font-default;
  height: 100%;

  @include themify($themes) {
    color: themed('color-fg');
    background-color: themed('color-bg');
  }
}

h1 {
  display: none;
}

h2 {
  margin: 0 0 $space-md;
  font-size: 2.4rem;
}

.superscript {
  position: relative;
  top: -0.3em;
}

.is-hidden {
  display: none !important;
}
