@import './variables/colors.scss';
@import './variables/fonts.scss';
@import './variables/space.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  font-family: $font-default;
  background-color: $color-bg;
  color: $color-fg;
  height: 100%;
}

h1 {
  display: none;
}

h2 {
  margin: 0 0 $space-md;
  font-size: 2.6rem;
}
