@import './colors.scss';
@import './space.scss';

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.container__column {
  padding: $space-lg;
  overflow-y: auto;
}

.container__column--highlighted {
  background-color: $color-primary;
  color: $color-white;
}
