/* Palette: https://flatuicolors.com/palette/in */

$color-skin: #f4cdad;
$color-orchid-range: #fea47f;
$color-keppel: #58b19f;
$color-georgia-peach: #fd7272;
$color-falling-star: #cad3c8;
$color-text-secondary: #2c3a47;
$color-white: #fff;
$color-text: #333;
$color-text-subtle: #aaa;
