$color-white: #fff;
$color-black: #000;

/* Indian Palette: https://flatuicolors.com/palette/in */
$color-orchid-orange: rgb(254, 164, 127);
$color-spiro-disco-ball: rgb(37, 204, 247);
$color-honey-glow: rgb(234, 181, 67);
$color-sweet-garden: rgb(85, 230, 193);
$color-falling-star: rgb(202, 211, 200);
$color-rich-gardenia: rgb(249, 127, 81);
$color-clear-chill: rgb(27, 156, 252);
$color-sarawak-white-pepper: rgb(248, 239, 186);
$color-keppel: rgb(88, 177, 159);
$color-ships-officer: rgb(44, 58, 71);
$color-fiery-fuchsia: rgb(179, 55, 113);
$color-bluebell: rgb(59, 59, 152);
$color-georgia-peach: rgb(253, 114, 114);
$color-oasis-stream: rgb(154, 236, 219);
$color-bright-ube: rgb(214, 162, 232);
$color-magenta-purple: rgb(109, 33, 79);
$color-ending-navy-blue: rgb(24, 44, 97);
$color-sasquatch-socks: rgb(252, 66, 123);
$color-pine-glade: rgb(189, 197, 129);
$color-highlighter-lavender: rgb(130, 88, 159);

/* German Palette: https://flatuicolors.com/palette/de */
$color-fusion-red: rgb(252, 92, 101);
$color-orange-hibiscus: rgb(253, 150, 68);
$color-flirtatious: rgb(254, 211, 48);
$color-reptile-green: rgb(38, 222, 129);
$color-maximum-blue-green: rgb(43, 203, 186);
$color-desire: rgb(235, 59, 90);
$color-beniukon-bronze: rgb(250, 130, 49);
$color-nyc-taxi: rgb(247, 183, 49);
$color-algal-fuel: rgb(32, 191, 107);
$color-turquoise-topaz: rgb(15, 185, 177);
$color-high-blue: rgb(69, 170, 242);
$color-c64-ntsc: rgb(75, 123, 236);
$color-lighter-purple: rgb(165, 94, 234);
$color-twinkle-blue: rgb(209, 216, 224);
$color-blue-grey: rgb(119, 140, 163);
$color-boyzone: rgb(45, 152, 218);
$color-royal-blue: rgb(56, 103, 214);
$color-gloomy-purple: rgb(136, 84, 208);
$color-innuendo: rgb(165, 177, 194);
$color-blue-horizon: rgb(75, 101, 132);

/* Russian Palette: https://flatuicolors.com/palette/ru */
$color-creamy-peach: rgb(243, 166, 131);
$color-rosy-highlight: rgb(247, 215, 148);
$color-soft-blue: rgb(119, 139, 235);
$color-brewed-mustard: rgb(231, 127, 103);
$color-old-geranium: rgb(207, 106, 135);
$color-sawtooth-aak: rgb(241, 144, 102);
$color-summertime: rgb(245, 205, 121);
$color-cornflower: rgb(84, 109, 229);
$color-tigerlily: rgb(225, 95, 65);
$color-deep-rose: rgb(196, 69, 105);
$color-purple-mountain-majesty: rgb(120, 111, 166);
$color-rogue-pink: rgb(248, 165, 194);
$color-squeaky: rgb(99, 205, 218);
$color-apple-valley: rgb(234, 134, 133);
$color-pencil-lead: rgb(89, 98, 117);
$color-purple-corallite: rgb(87, 75, 144);
$color-flamingo-pink: rgb(247, 143, 179);
$color-blue-curacao: rgb(61, 193, 211);
$color-porcelain-rose: rgb(230, 103, 103);
$color-biscay: rgb(48, 57, 82);
