/* Palette: https://flatuicolors.com/palette/in */

$color-skin: #f4cdad;
$color-orchid-range: #FEA47F;
$color-keppel: #58B19F;
$color-georgia-peach: #FD7272;
$color-falling-star: #CAD3C8;
$color-text-secondary: #2C3A47;
$color-white: #FFF;
$color-text: #333;
$color-text-subtle: #AAA;
