@import './colors.scss';

$themes: (
  classic: (
    color-bg: $color-skin,
    color-bg-dark: lighten($color-ships-officer, 5%),
    color-bg-subtle: $color-falling-star,
    color-fg: $color-ships-officer,
    color-fg-inverted: $color-white,
    color-fg-subtle: $color-falling-star,
    color-operator: $color-orchid-orange,
    color-action: $color-keppel,
    color-danger: $color-georgia-peach,
  ),
  office: (
    color-bg: $color-white,
    color-bg-dark: darken($color-blue-horizon, 5%),
    color-bg-subtle: $color-twinkle-blue,
    color-fg: lighten($color-black, 20%),
    color-fg-inverted: $color-white,
    color-fg-subtle: $color-twinkle-blue,
    color-operator: $color-c64-ntsc,
    color-action: $color-orange-hibiscus,
    color-danger: $color-fusion-red,
  ),
  pro: (
    color-bg: darken($color-blue-horizon, 18%),
    color-bg-dark: darken($color-blue-horizon, 24%),
    color-bg-subtle: $color-blue-grey,
    color-fg: $color-white,
    color-fg-inverted: $color-white,
    color-fg-subtle: $color-blue-grey,
    color-operator: $color-c64-ntsc,
    color-action: $color-orange-hibiscus,
    color-danger: $color-fusion-red,
  ),
  hacker: (
    color-bg: $color-biscay,
    color-bg-dark: darken($color-biscay, 7%),
    color-bg-subtle: $color-pencil-lead,
    color-fg: lighten($color-rosy-highlight, 10%),
    color-fg-inverted: $color-white,
    color-fg-subtle: $color-pencil-lead,
    color-operator: $color-soft-blue,
    color-action: $color-blue-curacao,
    color-danger: $color-flamingo-pink,
  ),
  nautic: (
    color-bg: $color-mazarine-blue,
    color-bg-dark: $color-pico-void,
    color-bg-subtle: $color-chain-gang-grey,
    color-fg: $color-lynx-white,
    color-fg-inverted: $color-lynx-white,
    color-fg-subtle: $color-hint-of-pensive,
    color-operator: $color-rise-n-shine,
    color-action: $color-skirret-green,
    color-danger: $color-nasturcian-flower,
  ),
  retro: (
    color-bg: $color-swan-white,
    color-bg-dark: darken($color-grey-porcelain, 30%),
    color-bg-subtle: $color-crocodile-tooth,
    color-fg: darken($color-grey-porcelain, 20%),
    color-fg-inverted: $color-lynx-white,
    color-fg-subtle: $color-crocodile-tooth,
    color-operator: darken($color-grey-porcelain, 10%),
    color-action: $color-alameda-ochre,
    color-danger: $color-eye-of-newt,
  ),
);
